.icon{
    position:relative;
    margin-right: 30px;
    padding: 5px;
}


.user_details {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.user_details h3 {
    padding-right: 10px;
    color: blueviolet;
}